:root {
  --text-color: #333;
  --color-hover: #0a775f;
  --outline-color: var(--color-hover);

}

/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.woff2) format('woff2'),
      url(../fonts/Roboto-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff2) format('woff2'),
      url(../fonts/Roboto-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.woff2) format('woff2'),
      url(../fonts/Roboto-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: 2px dotted var(--outline-color);
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* HEADER */
.site-header {
  background-image: url(../images/header-bg.png);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px 40px 30px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo-link:hover {
  opacity: 0.8;
}
.header-logo-link {
  flex-shrink: 0;
  cursor: pointer;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-nav-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.header-nav-link {
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
}
.header-nav-item:not(:last-child) {
  margin-right: 40px;
}
.header-nav-link:hover {
  opacity: 0.8;
  color: var(--color-hover);
}
.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-left: 130px;
  padding-right: 116px;
  padding-top: 116px;
  padding-bottom: 100px;
}
.hero-heading {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}
.hero-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 34px;
}
.button {
  background-color:#0A775F;
  width: 193px;
  border-radius: 100px;
  padding: 16px 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-align: center;
}
.button:hover {
  opacity: 0.8;
}

/* MAIN */
.site-main {
  padding: 20px;
}
.main-top {
  background-image: url(../images/main-bg.jpg);
}
.main-heading {
  margin: 0;
  padding-top: 50px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}
.main-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.main-item-text {
  padding-left: 117px;
}
.text-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  margin: 0;
  color: var(--text-color);
}
.text-par {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: var(--text-color);
  width: 664px;
}
.main-middle {
  padding: 20px;
}
.main-middle-container {
  background-image: url(../images/middle-bg.png);
}
.main-middle-heading {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #fff;
}
.main-middle-par {
  margin: 10px 0 0 0;
  padding-bottom: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  opacity: 0.8;

}
.middle-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -420px;
}
.mid-wrapper {
  width: 433px;
}
.mid-wrapper:not(:last-child) {
  margin-right: 20px;
}
.middle-text-heading {
  margin-top: 28px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
}
.middle-text-par {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.main-bottom {
  padding: 20px;
  background-image: url(../images/bottom-bg.png);
}
.main-bottom-heading {
  padding-top: 50px;
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.wrapper-top {
  margin: 0;
  padding-top: 80px;
  display: flex;
  padding-left: 480px;
  margin-bottom: 20px;
}
.wrapper-top-item {
  width: 60px;
  height: 60px;
  background-color: #F8F8F2;
  border: 4px solid #C99B67;
}
.wrapper-top-item:not(:last-child) {
  margin-right: 393px;
}
.wrapper-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.wrapper-item {
  width: 433px;
  height: 400px;
  background-color: #f8f8f2;
  padding: 20px;
}
.wrapper-item:not(:last-child) {
  margin-right: 20px;
}
.wrapper-item-head {
  margin: 0;
  display: flex;
  justify-content: end;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  opacity: 0.8;
  color: var(--text-color);
}
.wrapper-item-heading {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  padding-top: 45px;
  color: var(--text-color);
}
.wrapper-item-par {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-top: 10px;
  color: var(--text-color);
}
.bottom-button {
  padding: 16px 24px;
  background-color: #C99B67;
  border-radius: 100px;
  width: 230px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.bottom-button:hover {
  opacity: 0.8;
}
.main-button {
  display: flex;
  justify-content: center;
}

.site-footer {
  margin-top: 50px;
  background-image: url(../images/header-bg.png);
}
.footer-wrapper {
  padding: 68px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.icons-item {
  list-style:none;
}
.icons-item:not(:last-child) {
  margin-right: 30px;
}
.icons-list {
  display: flex;
}
.icons-item:hover {
  opacity: 0.8;
}
